<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="molimentum.web" type="Molimentum.Web.Configuration.WebConfiguration, Molimentum.Web"/>
  </configSections>

  <molimentum.web>
    <widgets>
      <widget name="LatestPositions" />
      <widget name="LatestAlbums" adminOnly="false" />
      <widget name="Administration" adminOnly="true" />
    </widgets>
    <specialPosts>
      <specialPost id="40B3BE69-A3FF-4246-A549-DD68B59735AB" alternativeUrl="Impressum" />
    </specialPosts>
  </molimentum.web>
</configuration>
