<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="molimentum.tasks" type="Molimentum.Tasks.Configuration.TasksConfiguration, Molimentum.Core" />
    <section name="molimentum.tasks.mailClient" type="Molimentum.Tasks.MailClient.Configuration.MailClientConfiguration, Molimentum.Core" />
    <section name="molimentum.tasks.mailClient.popMailProvider" type="Molimentum.Tasks.MailClient.PopMailProvider.Configuration.PopMailProviderConfiguration, Molimentum.Core" />
  </configSections>
  
  <molimentum.tasks>
    <tasks>
      <task type="Molimentum.Tasks.Tests.TaskMock, Molimentum.Core.Tests" interval="60000" />
    </tasks>
  </molimentum.tasks>

  <molimentum.tasks.mailClient>
    <secret key="mailClientSecretKey" />
    <pictures albumID="mailClientPicturesAlbumID" />
  </molimentum.tasks.mailClient>

  <molimentum.tasks.mailClient.popMailProvider>
    <server name="testPopMailProviderServername" port="110" username="testPopMailProviderUsername" password="testPopMailProviderPassword" />
  </molimentum.tasks.mailClient.popMailProvider>
</configuration>