<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <customErrors mode="[OFF FOR DEBUG, ON FOR RELEASE]" xdt:Transform="Replace" xdt:Locator="XPath(/configuration/system.web/customErrors)" />

  <connectionStrings xdt:Transform="Replace" xdt:Locator="XPath(/configuration/connectionStrings)">
    <add name="ApplicationServices" connectionString="[ASP.NET APPLICATION SERVICES DATABASE CONNECTIONSTRING]" providerName="System.Data.SqlClient"/>
    <add name="MolimentumDatabase" connectionString="[MOLIMENTUM DATABASE CONNECTIONSTRING]" providerName="System.Data.SqlClient"/>
    <add name="ElmahDatabase" connectionString="[ELMAH DATABASE CONNECTIONSTRING]" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <molimentum.providers.google.picasa xdt:Transform="Replace" xdt:Locator="XPath(/configuration/molimentum.providers.google)">
    <application name="[PICASA APPLICATION NAME]"/>
    <authentication username="[PICASA USER NAME]" password="[PICASA USER PASSWORD]"/>
    <gallery user="[PICASA GALLERY USER]"/>
    <pictures thumbnailSize="144" maximumImageSize="800"/>
  </molimentum.providers.google.picasa>

  <molimentum.providers.google.youTube xdt:Transform="Replace" xdt:Locator="XPath(/configuration/molimentum.providers.google)">
    <application name="[YOUTUBE APPLICATION NAME]"/>
    <authentication username="[YOUTUBE USER NAME]" password="[YOUTUBE PASSWORD]"/>
    <gallery user="[YOUTUBE GALLERY USER]"/>
    <embedding htmlTemplate="&lt;object width='640' height='385'&gt;&lt;param name='movie' value='http://www.youtube.com/v/{0}&amp;hl=en&amp;fs=1&amp;color1=0x336633&amp;color2=0x336633'&gt;&lt;/param&gt;&lt;param name='allowFullScreen' value='true'&gt;&lt;/param&gt;&lt;param name='allowscriptaccess' value='always'&gt;&lt;/param&gt;&lt;embed src='http://www.youtube.com/v/{0}&amp;hl=en&amp;fs=1&amp;color1=0x336633&amp;color2=0x336633' type='application/x-shockwave-flash' allowscriptaccess='always' allowfullscreen='true' width='640' height='385'&gt;&lt;/embed&gt;&lt;/object&gt;"/>
  </molimentum.providers.google.youTube>

  <molimentum.tasks.mailClient xdt:Transform="Replace" xdt:Locator="XPath(/configuration/molimentum.tasks.mailClient)">
    <secret key="[MAIL SECRET]"/>
    <pictures albumID="[PICASA ALBUMID]"/>
  </molimentum.tasks.mailClient>

  <molimentum.tasks.mailClient.popMailProvider xdt:Transform="Replace" xdt:Locator="XPath(/configuration/molimentum.tasks.mailClient.popMailProvider)">
    <server name="[POP SERVER NAME]" port="110" username="[POP USER]" password="[POP USER PASSWORD]"/>
  </molimentum.tasks.mailClient.popMailProvider>

  <!-- add these for release -->
  <dependency xdt:Transform="Replace" xdt:Locator="XPath(//dependency[@name='InMemoryPictureRepository'])"
      name="PicasaPictureRepository" />

  <dependency xdt:Transform="Replace" xdt:Locator="XPath(//dependency[@name='InMemoryVideoRepository'])"
      name="YouTubeVideoRepository" />
</configuration>