<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="molimentum.providers.google.picasa" type="Molimentum.Providers.Google.Configuration.PicasaConfiguration, Molimentum.Providers.Google" />
    <section name="molimentum.providers.google.youTube" type="Molimentum.Providers.Google.Configuration.YouTubeConfiguration, Molimentum.Providers.Google" />
  </configSections>

  <molimentum.providers.google.picasa>
    <application name="testPicasaProviderApplicationName" />
    <authentication username="testPicasaProviderUsername" password="testPicasaProviderPassword" />
    <gallery user="testPicasaProviderGalleryUser" />
    <pictures thumbnailSize="144" maximumImageSize="640" />
  </molimentum.providers.google.picasa>

  <molimentum.providers.google.youTube>
    <application name="testYouTubeProviderApplicationName" />
    <authentication username="testYouTubeProviderUsername" password="testYouTubeProviderPassword" />
    <gallery user="testYouTubeProviderGalleryUser" />
    <embedding htmlTemplate="&lt;object foobar='asdf' /&gt;" />
  </molimentum.providers.google.youTube>
</configuration>