<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="molimentum.providers.google.picasa" type="Molimentum.Providers.Google.Configuration.PicasaConfiguration, Molimentum.Providers.Google" />
    <section name="molimentum.providers.google.youTube" type="Molimentum.Providers.Google.Configuration.YouTubeConfiguration, Molimentum.Providers.Google" />
  </configSections>

  <molimentum.providers.google.picasa>
    <application name="[PICASA APPLICATION NAME]"/>
    <authentication username="[PICASA USER NAME]" password="[PICASA USER PASSWORD]"/>
    <gallery user="[PICASA GALLERY USER]"/>
    <pictures thumbnailSize="144" maximumImageSize="640"/>
  </molimentum.providers.google.picasa>

  <molimentum.providers.google.youTube>
    <application name="[YOUTUBE APPLICATION NAME]"/>
    <authentication username="[YOUTUBE USER NAME]" password="[YOUTUBE PASSWORD]"/>
    <gallery user="[YOUTUBE GALLERY USER]"/>
    <embedding htmlTemplate="&lt;object width='640' height='385'&gt;&lt;param name='movie' value='http://www.youtube.com/v/{0}&amp;hl=en&amp;fs=1&amp;color1=0x336633&amp;color2=0x336633'&gt;&lt;/param&gt;&lt;param name='allowFullScreen' value='true'&gt;&lt;/param&gt;&lt;param name='allowscriptaccess' value='always'&gt;&lt;/param&gt;&lt;embed src='http://www.youtube.com/v/{0}&amp;hl=en&amp;fs=1&amp;color1=0x336633&amp;color2=0x336633' type='application/x-shockwave-flash' allowscriptaccess='always' allowfullscreen='true' width='640' height='385'&gt;&lt;/embed&gt;&lt;/object&gt;"/>
  </molimentum.providers.google.youTube>
</configuration>