<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="molimentum.providers.google.picasa" type="Molimentum.Providers.Google.Configuration.PicasaConfiguration, Molimentum.Providers.Google" />
    <section name="molimentum.tasks.mailClient" type="Molimentum.Tasks.MailClient.Configuration.MailClientConfiguration, Molimentum.Core" />
    <section name="molimentum.tasks.mailClient.popMailProvider" type="Molimentum.Tasks.MailClient.PopMailProvider.Configuration.PopMailProviderConfiguration, Molimentum.Core" />
  </configSections>

  <molimentum.providers.google.picasa>
    <application name="[PICASA APPLICATION NAME]"/>
    <authentication username="[PICASA USER NAME]" password="[PICASA USER PASSWORD]"/>
    <gallery user="[PICASA GALLERY USER]"/>
    <pictures thumbnailSize="144" maximumImageSize="640"/>
  </molimentum.providers.google.picasa>

  <molimentum.tasks.mailClient>
    <secret key="TESTKEY"/>
    <pictures albumID="[PICASA ALBUMID]"/>
  </molimentum.tasks.mailClient>

  <molimentum.tasks.mailClient.popMailProvider>
    <server name="[POP SERVER NAME]" port="110" username="[POP USER]" password="[POP USER PASSWORD]"/>
  </molimentum.tasks.mailClient.popMailProvider>
</configuration>